<div class="container">

  <div class="p-4">
    <h1>List a fantastic restaurant</h1>
    <%= render 'form' %>
  </div>

  <div>
    <%= link_to "Back to overview", restaurants_path %>
  </div>
</div>
